
<div class="container mt-5 text-center">
    <h1 class="mt-2 mb-5">Welcome! What would you like to do ?</h1>
    <div class="row ml-5 mr-5">
        <div class="col-md-4 col-12">
            <button class="btn-blue" [routerLink]="['/inventory']">
                Track Inventory
            </button>
        </div>
        <div class="col-md-4 col-12">
            <button class="btn-blue" [routerLink]="['/invoices']">
                Import Invoices
            </button>
        </div>
        <div class="col-md-4 col-12">
            <button class="btn-blue" [routerLink]="['/sale']">
                Plain Grain Sale
            </button>
        </div>
    </div>
</div>